<div class="header">
  <div class="row">
      <div class="col-12 col-sm-6 title">
          <h1>Lenovo Channel<br> Drive</h1>
      </div>
      <div class="col-12 col-sm-6 text-right right-img">
          <h3 class="d-inline-block">
              Smarter<br>
              technology<br>
              for all
          </h3>
          <img src="../assets/lenovo.png" class="d-inline-block"/>
      </div>
      <div class="col-sm-8 col-12">
          <p class="lead header-p">
              The #smarter you are by choosing &amp; recommending the world’s
              #1 PC Brand, the more there is in it for you!
              Join our new Lenovo THINK SMARTER loyalty program to enjoy
              incentives and benefits as Lenovo Channel Partners
          </p>
      </div>
      <form ng-if='!auth' (ngSubmit)="onSubmit()" method="post" action="https://think-smarter.lenovomeaevents.com/auth/login" class="col-sm-3 col-12 text-center">
          <h2>Login Account</h2>
          <input type="email" name="email" v-model="email" placeholder="Email Address" />
          <input type="password" name="password" v-model="password" placeholder="Password" />
          <button type="submit" class="btn btn-danger">Login Account</button>
          <router-link to="/register-form">Create new account</router-link>
      </form>
      <div ng-if="auth" class="col-sm-3 col-12 text-center justify-content-end welcome-user">
          <h3>Welcome {{user}} </h3>
      </div>
      <div class="col-12">
          <img src="../assets/windowslogo.png" />
      </div>
  </div>
</div>
