<div class="header">
  <div class="row">
      <div class="col-12 col-sm-6 title">
          <h1>Lenovo Channel<br> Drive</h1>
      </div>
      <div class="col-12 col-sm-6 text-right right-img">
          <h3 class="d-inline-block">
              Smarter<br>
              technology<br>
              for all
          </h3>
          <img src="../assets/lenovo.png" class="d-inline-block"/>
      </div>
      <img src="../../assets/windowslogo.png" class="d-inline-block ii"/>
      <form (ngSubmit)="onSubmit()" method="post" class="text-center" id="ngform">
          <h2>Login Account</h2>
          <input type="email" name="email" placeholder="Email Address" />
          <input type="password" name="password" placeholder="Password" />
          <button type="submit" class="btn btn-danger w-100">Login Account</button>
      </form>
  </div>
</div>
<app-footer></app-footer>
