<div class="header col-sm-12">
  <div class="row">
    <div class="col-12 col-sm-6 title">
        <h1>Lenovo Channel<br> Drive</h1>
    </div>
    <div class="col-12 col-sm-6 text-right right-img">
        <h3 class="d-inline-block">
            Smarter<br>
            technology<br>
            for all
        </h3>
        <img src="../assets/lenovo.png" class="d-inline-block"/>
    </div>
    <div class="mid">
      <h1 class="text-center">How to paticipate</h1>
      <br>
      <ol>
        <li>First you will recive an email invitation accompained by links to our program website and mobile app</li>
        <li>Once you recieve the invitation, register on program website and follow the link in the email to download the app.</li>
        <li>Welcome to our program platforms! Know more about the program and our scoring system, by checking (How to participate) tabs</li>
        <li>During the program you have to complete:
          <br>
          <span>- Four 45 minutes videos, each video will be followed by 5 quiz questions that must be answered</span>
          <br>
          <span>- Five E-learning sessions, which will be followed by five 5 engaging activites</span>
        </li>
        <li>to get the heigest score, you must complete all the 5 E-learning sessions and fully-watch the 4 videos.</li>
        <li>Scoring system:-
          <br>
          <span>- Registration = 50 pts</span>
          <br>
          <span>- Completing a video = 100 pts - Answering the querstions after each video  = 20 pts</span>
          <br>
          <span>- Completing and E-Learning session = 100 pts - Answering the question after each session = 20 pts</span>
          <br>
          <span>- The 1st Place will win an X1 carbon laptop</span>
          <br>
          <span>- Each participant will eventually recieve an E-voucher depending on his score ... So shape up and get Ready, Set, Score</span>
        </li>
        <li>At the end of the program, a detailed report on each user's score and activites during the entire time will be announced to determine the winner</li>
      </ol>
    </div>
  </div>
</div>
<app-footer></app-footer>
