<div class="home">
  <app-header></app-header>
    <div class="participate container text-center mt-3 mb-2">
      <h2>Why Participate?</h2>
      <p class="lead">Due to the current environment, we’ve adapted all of our Lenovo activity to be online so you don’t miss out on
        anything!<br>
        We have online training courses &amp; webinars to give you information and tools on how our Lenovo products &amp; services
        are solutions for today’s very unique circumstances.<br>
        The more you engage with Lenovo, the more you stand a chance of winning!
      </p>
    </div>
  <div class="imgs-section text-center">
    <img src="../../assets/elearning.png" />
    <img src="../../assets/howto.png" />
    <img src="../../assets/video.png" />
  </div>
  <div class="contact text-center">
    <h2>Contact Us</h2>
    <p>think-smarter@lenovomeaevents.com</p>
  </div>
  <app-footer></app-footer>
</div>
