div {
  overflow-x: hidden;
}

h2 {
  margin-bottom: 40px;
}

.participate p {
  font-size: 21px;
  font-weight: 600;
}
#reg{
  background-color: #fb5f00;
  margin: 10px;
  border-radius: 70px;
  text-align: center;

}
.down{
  background-color: #353232;
  color: white;
  padding: 40px;
}

.imgs-section, .contact {
  padding: 80px 0 60px;
  background-color: #000;
}

.imgs-section img {
  margin: 0 30px;
  width: 150px;
}

.contact {
  color: #fff;
}

.contact p {
  font-size: 20px;
}
.footer{
  padding: 20px;
}

.footer .svg-inline--fa {
  color: #a5a5a5;
  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
}

