<div class="header col-sm-12">
  <div class="row">
      <div class="col-12 col-sm-6 title">
          <h1>Lenovo Channel<br> Drive</h1>
      </div>
      <div class="col-12 col-sm-6 text-right right-img">
          <h3 class="d-inline-block">
              Smarter<br>
               technology<br>
               for all
          </h3>
          <img src="../assets/lenovo.png" class="d-inline-block"/>
      </div>
      <form (ngSubmit)="onSubmit()" method="post" class="text-center">
          <h2 class="text-center">Registration</h2>
          <input type="text" name="fullname" ng-model="fullname" placeholder="Full Name"  />
          <input type="text" name="company" ng-model="company" placeholder="Company" />
          <input type="text" name="title" ng-model="title" placeholder="Title" />
          <input type="number" name="mobile" ng-model="mobile" placeholder="Mobile Number" />
          <input type="email" name="email" ng-model="email" placeholder="Corporate Email" />
          <input type="password" name="password" ng-model="password" placeholder="Password" />
          <input type="text" name="city" ng-model="city" placeholder="City" />
          <button [disabled]="loading" class="btn btn-danger w-50" type="submit">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Register
          </button>
      </form>
  </div>
</div>
